article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    nav, article {
        flex-direction: column;
    }
}